.main-container {
  padding-top: 60px;
}

#jokes {
    text-align: center;
}

#jokes .joke {
    font-size: 22px;
    font-style: italic;
}

#jokes .panel-heading h4 {
    display: inline;
}

#jokes .panel-heading button {
    float: right;
}
